.app-results-content h2 {
  margin: 0;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  color: #3e3d3f;
}

.app-results-content .row {
  margin-top: 20px;
}

.app-results-content p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #3e3d3f;
  margin: 0;
}

.app-results-content hr {
  margin-top: 20px;
  border: solid 1px #cbcbcb;
}

.app-results-content .amount {
  opacity: 0.2;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #3e3d3f;
}

.app-results-content .amount.total {
  font-size: 22px;
  line-height: 1.36;
}

.app-results-content .amount.result,
.app-results-content .amount.total.result {
  opacity: 1;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #3e3d3f;
}

.app-results-content p.total {
  font-size: 18px;
}
